/**************************/
/* Fonts                  */
/**************************/
@import url(http://fonts.googleapis.com/css?family=Fira+Sans);
.font-fira-sans {
    font-family: 'Fira Sans', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);
.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400);
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

/* UNUSED */
/*
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
.font-pt-sans {
    font-family: 'PT Sans', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
.font-source-code-pro {
    font-family: 'Source Code Pro', ;
}

@import url(http://fonts.googleapis.com/css?family=Exo);
.font-exo {
    font-family: 'Exo', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Exo+2);
.font-exo-2 {
    font-family: 'Exo 2', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
.font-raleway {
    font-family: 'Raleway', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
.font-pathway-gothic-one {
    font-family: 'Pathway Gothic One', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Syncopate);
.font-syncopate {
    font-family: 'Syncopate', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Jockey+One);
.font-jockey-one {
    font-family: 'Jockey One', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Lato);
.font-lato {
    font-family: 'Lato', sans-serif;
}
*/