/**************************/
/* Animation Variables    */
/**************************/
/* ease, linear, ease-in, ease-out, ease-in-out, cubic-bezier(n,n,n,n), initial, inherit  */
$animation-easing: ease-in-out;
$animation-speed-fast: 200ms;
$animation-speed-norm: 350ms;
$animation-speed-slow: 500ms;
$animation-speed-slug: 750ms;
$animation-scale-sm: 1.2;
$animation-scale-md: 1.5;
$animation-scale-lg: 1.8;
$animation-slide-short: 5px;
$navbar-border-radius: 0;

/**************************/
/* Animations             */
/**************************/
.animate-all-fast {
    -webkit-transition: all $animation-speed-fast $animation-easing;
    -moz-transition: all $animation-speed-fast $animation-easing;
    -o-transition: all $animation-speed-fast $animation-easing;
    transition: all $animation-speed-fast $animation-easing;
}

.animate-all-norm {
    -webkit-transition: all $animation-speed-norm $animation-easing;
    -moz-transition: all $animation-speed-norm $animation-easing;
    -o-transition: all $animation-speed-norm $animation-easing;
    transition: all $animation-speed-norm $animation-easing;
}

.animate-all-slow {
    -webkit-transition: all $animation-speed-slow $animation-easing;
    -moz-transition: all $animation-speed-slow $animation-easing;
    -o-transition: all $animation-speed-slow $animation-easing;
    transition: all $animation-speed-slow $animation-easing;
}

.grow-lg:hover {
    -webkit-transform: scale($animation-scale-lg, $animation-scale-lg);
    -ms-transform: scale($animation-scale-lg, $animation-scale-lg);
    transform: scale($animation-scale-lg, $animation-scale-lg);
}

.grow-md:hover {
    -webkit-transform: scale($animation-scale-md, $animation-scale-md);
    -ms-transform: scale($animation-scale-md, $animation-scale-md);
    transform: scale($animation-scale-md, $animation-scale-md);
}

.grow-sm:hover {
    -webkit-transform: scale($animation-scale-sm, $animation-scale-sm);
    -ms-transform: scale($animation-scale-sm, $animation-scale-sm);
    transform: scale($animation-scale-sm, $animation-scale-sm);
}

.slide-short:hover {
    -webkit-transform: translate($animation-slide-short,0);
    -ms-transform: translate($animation-slide-short,0);
    transform: translate($animation-slide-short,0);
}

.brighten-me {
    filter: brightness(80%);
}

.brighten-me:hover {
    filter: brightness(100%);
}

.grayscale-me {
    filter: grayscale(74%);
}

.grayscale-me:hover {
    filter: grayscale(26%);
}

.invert-me {
    filter: invert(70%);
}

.invert-me:hover {
    filter: invert(0%);
}

.contrast-me {
    filter: contrast(70%);
}

.contrast-me:hover {
    filter: contrast(100%);
}

.blur-me {
    filter: blur(1px);
}

.blur-me:hover {
    filter: blur(0);
}

.opaque-me {
    opacity: 0.3;
}

.opaque-me:hover {
    opacity: 1.0;
}

/* Transition A */
.view-slide-in.ng-enter {
    transition: all $animation-speed-slow $animation-easing;
    -webkit-transition: all $animation-speed-slow $animation-easing;
    -moz-transition: all $animation-speed-slow $animation-easing;
    -o-transition: all $animation-speed-slow $animation-easing;
    opacity: 0.5;
    position: relative;
    top: 0;
    left: 0;
}

.view-slide-in.ng-enter {
    top: 0;
    left: 3rem;
    opacity: 0;
}

.view-slide-in.ng-enter.ng-enter-active {
    top: 0;
    left: 0;
    opacity: 1;
}

.view-slide-in.ng-leave.ng-leave-active {
    top: 0;
    left: 0;
    opacity: 1;
}

.view-slide-in.ng-leave {
    top: 0;
    left: -3rem;
    opacity: 0;
}

/* Transition B */
.content {
    position: relative;
}

.my-slide-animation.ng-enter, .my-slide-animation.ng-leave {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.my-slide-animation.ng-enter {
    -webkit-animation: 1s slide-animation-enter;
    animation: 1s slide-animation-enter;
}

.my-slide-animation.ng-leave {
    -webkit-animation: 0.25s slide-animation-leave;
    animation: 0.25s slide-animation-leave;
}

@keyframes slide-animation-enter {
    from {
        z-index: 100;
        top: 8rem;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}


@keyframes slide-animation-leave {
    from {
        z-index: 101;
        top: 0;
        opacity: 1;
    }
    to {
        top: -3rem;
        opacity: 0;
    }
}


@-webkit-keyframes slide-animation-enter {
    from {
        z-index: 100;
        top: 8rem;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}


@-webkit-keyframes slide-animation-leave {
    from {
        z-index: 101;
        top: 0;
        opacity: 1;
    }
    to {
        top: -3rem;
        opacity: 0;
    }
}