/***********************/
/* Colors                 */
/**************************/

/* Social Media */
$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-youtube: #e52d27;
$color-linkedin: #0976b4;
$color-google: #d34836;

/* Base Colors */
$color-black: #000000;
$color-grey-dark: #444444;
$color-grey: #888888;
$color-grey-light: #CCCCCC;
$color-white: #FFFFFF;

/* Encompass */

/* Color Vars */
$color-alpha-1: 0.1;
$color-alpha-3: 0.3;
$color-alpha-5: 0.5;
$color-alpha-7: 0.7;
$color-alpha-9: 0.9;

/* Encompass Logo 2014 Themes - Green, Blue*/
/* Green: #1C6B65; #258A6C; #66A236; #9EC23C; #FFFFFF;  */
$color-encompass-logo-green-00-hex: #1C6B65;
$color-encompass-logo-green-00-rgb: rgb(28,107,101);
$color-encompass-logo-green-01-hex: #258A6C;
$color-encompass-logo-green-02-hex: #66A236;
$color-encompass-logo-green-03-hex: #9EC23C;
$color-encompass-logo-green-04-hex: #D8FFC0;

/* Blue: #007D90; #006D90; #008ABB; #31A8CF; #A8DFF9;  */
$color-encompass-logo-blue-00-hex: #007D90;
$color-encompass-logo-blue-00-rgb: rgb(0,125,144);
$color-encompass-logo-blue-01-hex: #006D90;
$color-encompass-logo-blue-01-rgb: rgb(0,109,144);
$color-encompass-logo-blue-02-hex: #008ABB;
$color-encompass-logo-blue-03-hex: #31A8CF;
$color-encompass-logo-blue-04-hex: #A8DFF9;
$color-encompass-logo-blue-05-hex: #11203d;

/* Deep Water: #1C425C; #F0E4C5; #19162B; #F29F05; */
$color-encompass-deepwater-00-hex: #1C425C;
$color-encompass-deepwater-01-hex: #F0E4C5;
$color-encompass-deepwater-02-hex: #19162B;
$color-encompass-deepwater-03-hex: #F29F05;

/* Beach: #FFDD88; #FFC688; #F0E4C5; */
$color-encompass-beach-00-hex: #FFDD88;
$color-encompass-beach-01-hex: #FFC688;
$color-encompass-beach-02-hex: #FDA32A;
$color-encompass-beach-03-hex: #F0E4C5;

/* Referenced in Project CSS */
$color-navbar-bg: rgba($color-encompass-logo-blue-01-rgb, $color-alpha-7);
$color-navbar-bg-type: $color-white;
$color-navbar-fg: rgba($color-encompass-logo-blue-01-rgb, $color-alpha-9);
$color-navbar-fg-type: $color-encompass-logo-green-04-hex; /* $color-encompass-logo-green-04-hex; $color-encompass-beach-02-hex; $color-encompass-beach-01-hex; */

$color-anchor-type: $color-encompass-logo-blue-03-hex;
$color-anchor-type-hover: $color-encompass-logo-blue-04-hex;
