@charset "utf-8";

#data-access-index {
  top: 4.25%;
  right: 2rem;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.backdrop-info {
  width: 100%;
  height: 90%;
  background-color: #000;
}

.backdrop-interactive {
  top: 15%;
  width: 66rem;
  height: 43rem;
  padding: 1rem 1rem 0 1rem;
  background-color: rgba(0,0,0,0.7);
  border-radius: 1rem;
}

.backdrop-recharge {
}

.backdrop-wells {
}

.backdrop-springs {
}

.backdrop-watermark {
  min-width: 30rem;
  min-height: 20rem;
  background-color: rgba(0,0,0,0.7);
  border: 1px solid rgba(255,255,255,0.7);
}

.close-interactive {
  top: -1%;
  left: 98%;
}

.end-link-interactive {
  margin-top: -4%;
  left: 80%;
  cursor: default;
  width: 10rem;
  padding-left: 0.5rem;
  font-size: 1rem;
}
.end-link-interactive > a:hover {
  /*color: rgba(209,91,5,1);*/
  /*color: #8F8100;*/
  color: #71B2C9;
  /*color: #AB650D;*/
}

.offstage { left: -200%; }
.offstage-top { top: -150%; }

.open-panel { left: 1% !important; }
.open-panel-top-50 { top: 2.8rem !important; }

.open { left:12% !important; }

.transition {
  -webkit-transition: left 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: left 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: left 0.3s ease-out;  /* Opera 10.50–12.00 */
  transition: left 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.transition-slide-down {
  -webkit-transition: top 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: top 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: top 0.3s ease-out;  /* Opera 10.50–12.00 */
  transition: top 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

/* DATA */

button {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  /*text-transform: uppercase;*/
  padding: 10px 15px;
  margin: 20px 10px;
  color: #ccc;
  background-color: #444;
  background: -webkit-linear-gradient(#888, #555);
  background: linear-gradient(#888, #555);
  border: 0 none;
  border-radius: 3px;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 3px 3px rgba(0,0,0,0.6);
  cursor: pointer;
}

button:hover
{
  -webkit-animation: pulsate 1s linear infinite;
  animation: pulsate 1s linear infinite;
}

button:focus {
  outline: none;
  background-color: #777;
}

#data-access {
  top: 4.25%;
  left: 60px;
}

#data-panel {
  top: 4.25%;
  padding-left: 18rem;
}

/*#data-slides-container {}*/

.slide-label {
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: #ccc;
}

.data-slide {
  top: 25%;
  left: 0;
}