/* Encompass Custom Leaflet Styles */

/* For embedded maps */
.leaflet-map {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /*width: 64rem;*/
  /*height: 36rem;*/
  /*border: 2px solid #ffffff;*/
  /*color: #000;*/
}

.leaflet-control {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  z-index: 5000;
  padding: 0.25rem 0.5rem;
}

.leaflet-control-container {
  z-index: 9000;
}

.leaflet-control-layers {
  color: #fff;
  background-color: rgba(1,0,1,0.9);
  border: 1px solid #71B2C9; /*#ea2;*/
  border-radius: 0;
}

.leaflet-control-layers-toggle {
  /*background-image: url(images/layers-flat-green.png);*/
  line-height:36px;
  width: auto;
  background-position:0.25rem 50%;
  text-decoration:none;
}
.leaflet-control-layers-toggle:after {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.2rem;
  /*font-weight: 700;*/
  padding-left: 2.5rem;
  color: #ddd;
  content: 'Map Layers';
}

.leaflet-control-layers-base {
  padding-bottom: 0.5rem;
}

.leaflet-control-layers-expanded {
  padding: 0.5rem 1rem;
}

.leaflet-control-layers-list:before {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.2rem;
  /*font-weight: 700;*/
  color: #AADD6D;
  padding: 1rem 1rem 1rem 1.5rem;
  content: "Base Maps";
}

.leaflet-control-layers-overlays:before {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.2rem;
  /*font-weight: 700;*/
  color: #fb0;
  padding: 1rem 1rem 1rem 1.5rem;
  content: "Data Overlays";
}

.leaflet-control-attribution {
  bottom: 3rem;
  background-color: rgba(0,0,0,0.8) !important;
  color: #fff;
}

.leaflet-control-scale {
  bottom: 3rem;
}

.leaflet-popup {
  font-family: 'Open Sans Condensed', sans-serif;
  vertical-align: middle;
  /*color: #fff;*/
}
.leaflet-popup-content {
  font-size: 1rem;
  text-align: center;
}
.leaflet-popup-content-wrapper {
  border-radius: 0;
  background-color: rgba(1,0,1,0.9);
  border: 1px solid #71B2C9; /*ea2*/
  color: #fff;
}
.leaflet-popup-tip {
  background-color: #71B2C9; /*ea2*/
}

.popup {
  color: #fff;
}

label {
  font-weight: 300;
}