<div class="container">
    <div class="geography">
        <leaflet-map id="map" class="div-fixed z-100" display-recharge-panel="displayRechargePanel()" display-wells-panel="displayWellsPanel()" display-springs-panel="displaySpringsPanel()" display-watermark-panel="displayWatermarkPanel()"></leaflet-map>
        <div id="data-panel-watermark" class="div-fixed z-300 backdrop-interactive backdrop-watermark offstage transition">
            <div class="z-1000 div-relative close-watermark"><a ng-click="closePanel($event)"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
            <div>
                <div id="watermark" class="div-relative data-slide" draggable>
                    <!-- Panel Navigation -->
                    <div class="row watermark-panels-navbar">
                        <ul id="watermark-navbar" class="nav nav-pills nav-justified">
                            <li class="active" role="presentation"><a ng-click="tabSelect($event)" id="nav-su" class="watermark-pill">Science &amp; Uncertainty</a></li>
                            <li role="presentation"><a ng-click="tabSelect($event)" id="nav-pi" class="watermark-pill">Policy Implications</a></li>
                            <li role="presentation"><a ng-click="tabSelect($event)" id="nav-mi" class="watermark-pill">Management Implications</a></li>
                            <li role="presentation"><a ng-click="tabSelect($event)" id="nav-tm" class="watermark-pill">Topical Modelling</a></li>
                            <li role="presentation"><a ng-click="tabSelect($event)" id="nav-wm" class="watermark-pill">Watermark</a></li>
                        </ul>
                    </div>
                    <!-- Panel Content -->
                    <div class="z-500 row watermark-panels">
                        <div class="panel-base" id="panel-su" ng-show="watermarkSubpanelSU">
                            <div class="watermark-panel-title font-ubuntu-condensed">Science &amp; Uncertainty</div>
                            <div class="row">
                                <img src="./images/watermark/RechargeInterpretations.jpg" class="img-responsive recharge-interpretation" alt="Responsive image">
                            </div>
                        </div>
                        <div class="panel-base" id="panel-pi" ng-show="watermarkSubpanelPI">
                            <div class="watermark-panel-title font-ubuntu-condensed">Policy Implications</div>
                            <div class="row">
                                <!--
                                <img src="./images/watermark/RechargeUncertainty_FlowResponse.png" class="img-responsive flow-response" alt="Responsive image">
                                -->
                                <div class="z-200">
                                    <div id="graph-pi"></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-base" id="panel-mi" ng-show="watermarkSubpanelMI">
                            <div class="watermark-panel-title font-ubuntu-condensed">Identifying Desired Future Conditions (DFCs)</div>
                            <div class="row">
                                <div class="z-200 col-md-8">
                                    <div id="graph-mi"></div>
                                </div>
                                <div class="z-400 col-md-4">
                                    <div id="kzones"></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-base" id="panel-tm" ng-show="watermarkSubpanelTM">
                            <div class="watermark-panel-title font-ubuntu-condensed">Topical Modelling</div>
                            <div class="row">
                                <img src="./images/watermark/DFCsALL_WithTermsconcept_map800x800_cropped.png" class="img-responsive flow-response" alt="Responsive image">
                            </div>
                        </div>
                        <div class="panel-base" id="panel-wm" ng-show="watermarkSubpanelWM">
                            <div class="watermark-panel-title font-ubuntu-condensed">The Watermark</div>
                            <div class="row">
                                <img src="./images/watermark/GAMsconcept_map640x640_cropped.png" class="img-responsive flow-response" alt="Responsive image">
                            </div>
                        </div>
                    </div>
                    <div class="z-100 row watermark-footer">
                        <div class="watermark-footer-label">Watermark: Barton Springs Case Study</div>
                        <div class="div-relative end-link-interactive watermark-link">
                            <a href="http://www.encompassproject.org/" target="_blank">Learn More
                                <div id="holder">
                                  <div class="dot"></div>
                                  <div class="pulse"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
